nav {

}

#login-block {
    display: block;
    //text-align: center;
    margin: auto;
    width:300px;
}

.footer {
    background-color: #e7e7e7;
}

.search-btn {
    border:none;
    background-color: #f8f8f8;
    height: 34px;
    width: 30px;
}

.user-menu {
    margin-left: 5em;
}

.login-group {
    width:275px;
}

.error {
    color:red;
}

.error-block {
    display: block;
    height: 20px;
}